{% extends 'base/base.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'mie/css/miembros.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}
{% block title %} Actualizar Habitacion {% endblock %}
{% block background %}{% static 'mie/img/habitacion.jpg' %}{% endblock %}

{% block headers %}
<h1>Actualizar Habitacion</h1>
{% endblock %}

{% block content %}
<div class="member-section">
    <form method="post">
        {% csrf_token %}

        <div class="form-group-container">
            <div class="form-group">
                <label for="nohabitacion">No Habitacion:</label>
                <input type="text" id="nohabitacion" name="nohabitacion" class="form-control" required value="{{ habitacion.nohabitacion }}">
            </div>
        </div>

        <div class="form-group-container">
            <div class="select-group" style="margin-right: auto;">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria" class="form-control" required>
                    <option value="" disabled selected>Selecciona una categoria</option>
                    {% for c in categorias %}
                        <option value="{{ c.id }}" {% if c.id == habitacion.categoria.id %}selected{% endif %}>
                            {{ c.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>

                        <div class="select-group" style="margin-right: auto;">
                <label for="estado">Estado:</label>
                <select id="estado" name="estado" class="form-control" required>
                    <option value="" disabled selected>Selecciona un Estado</option>
                    {% for e in estados %}
                        <option value="{{ e.id }}" {% if e.id == habitacion.estado.id %}selected{% endif %}>
                            {{ e.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="button-group">
            <button style= "cursor: pointer;"  type="submit" class="btn btn-primary agregar-button">ACTUALIZAR</button>
            <a href="{% url 'habitaciones:lista_habitacion' %}" class="btn btn-primary listar-button">Listar</a>
        </div>
    </form>
</div>
{% endblock %}
